.edit-view {
    overflow-x: hidden;
}

.edit-form {
    padding-top: 40px;
    padding-left: 175px;
}


.ed_lbl {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
}

.mal {
	padding-right: 15px;
}

.edin {
	width: 20% !important;
	position: relative !important;
	top: 3px !important;
}

.edsel {
	position: relative !important;
	top: 10px !important;	
}

.edit-label {
	padding-left: 100px;
	padding-top: 50px;
	color: #333;
    font-size: 60px;
    font-family: 'Roboto';
    font-weight: 500;
}

.radios {
	position: relative !important;
	top: 10px !important;	
}