.edit-view {
    overflow-x: hidden;
}

.edit-form {
    position: relative;
    left: 15%;
    padding-top: 100px;
}


.ed_lbl {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
}

.mal {
	padding-right: 15px;
}

.form_control {
	width: 30px;
}