.edit-view {
    overflow-x: hidden;
}

.edit-form {
    position: relative;
    left: 15%;
    padding-top: 100px;
    width: 4300;
}


.ed_lbl {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
}

.mal {
	padding-right: 15px;
}

.edin {
	width: 20% !important;

}