.home-view {
    background-image: asset-url("home_food.jpg");
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
}

.welcome-label {
	padding-top: 150px;
	padding-right: 375px;
    color: #333;
    font-size: 100px;
    font-family: 'Roboto';
    font-weight: 500;
}