html, body {
    background-image: url('signup_food.jpg');
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow-x: hidden;
}

.sign_label {
    padding-top: 10px;
    position: relative;
    left: 63%;
    top: 110px;
    background-color:#696969;
    color: white;
    width: 350px;
    height: 50px;
    border-radius: 45px 45px 0px 0px;
    font-family: 'Helvetica';
}

.new_user {
    position: relative;
    left: 63%;
    top: 75px;
    width: 350px;
    height: 350px;
    background-color: #696969;
    border-radius: 0px 0px 45px 45px;
    font-family: 'Helvetica';
}

.su-form-content {
    position: relative;
    top: 20px;   
}

.su_field {
    color: white;
    padding-bottom: 20px;
}

.su_actions {
    padding-top: 10px;
    padding-bottom: 45px;
}

