html, body {
    background-image: url('signup_food.jpg');

    height: 100%;
    margin: 0;
    padding: 0;
}

.sign_label {
    position: relative;
    left: 25%;
    top: 75px;
}

.new_user {
    position: relative;
    top: 75px;
    left: 25%;    
}

