// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-view {
  overflow-x: hidden;
}

.mp-cards {
  padding-left: 100px;
  padding-right: 100px;
}

