// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
  height: 100px;
}

.footer {
  background: tomato;
  height: 100px;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside {
	margin: 30px;
	height: 450px;
  width: 200px;
  overflow: auto;
}

.aside-b {
  background: gold;
}

.aside-l {
  background: gold;
}

.aside-d {
  background: gold;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em; 
}

.img {
  vertical-align: bottom;
  horizontal-align: center;
}
